<div ng-controller="AdminHardwareController">
    <br />
    <br />
    <br />
    <div class="container-fluid" style="border:3px solid SlateGray; width:auto;">
        <h3><strong>Admin Management Console</strong></h3>
        <div class="row" style="padding:10px;">
            <a ng-href="#/ProjectsAll" class="btn btn-default">Projects & Solutions</a>

            <a ng-href="#/AllHardware" class="btn btn-default">Hardware</a>

            <a ng-href="#/AllTickets" class="btn btn-default">Tickets</a>

            <a ng-href="#/AllFAQs" class="btn btn-default">FAQ's</a>

            <a ng-href="#/CustomerContacts" class="btn btn-default">Customer Contacts</a>

            <a ng-href="#/UsersList/" class="btn btn-default">Users</a>
        </div>
    </div>
    <hr />
    <div style="padding-bottom:15px;">
        <h2>All Hardware</h2>
        <div style="display: inline-block;">
            <a ng-href="#/NewHardware" class="btn btn-primary">Add Hardware</a>
        </div>
        <div style="display: inline-block;" class="pull-right">
            <label class="text-info" style="font-size:large">Search: </label>
            <div style="display: inline-block;" class="pull-right">
                <input ng-model="search.$" class="form-control" style="width:400px;" />
            </div>
        </div>
    </div>

    <div ng-repeat="h in hardware | filter:search">
        <div class="well container-fluid">
            <div><strong>Hardware: </strong><a ng-href="#/EditHardware/{{h.HardwareID}}">{{h.HardwareName}}</a></div>
            <div><strong>Category: </strong>{{h.Category}}</div>
            <div><strong>Notes: </strong><br /> {{h.Notes}}</div>
            <div style="padding-top:10px">
                <table class="table table-responsive table-bordered">
                    <thead>
                        <tr style="background-color:#f1f1f1">
                            <th>FaqID</th>
                            <th>Topic</th>
                            <th>Question</th>
                            <th>Answer</th>
                        </tr>
                    </thead>
                    <tbody class="table-responsive">
                        <tr ng-repeat="f in h.Faq">
                            <td ng-if="$odd" style="background-color:#f1f1f1">
                                <a ng-href="#/EditFAQ/{{f.FaqID}}">{{f.FaqID}}</a>
                            </td>
                            <td ng-if="$even">
                                <a ng-href="#/EditFAQ/{{f.FaqID}}">{{f.FaqID}}</a>
                            </td>
                            <td ng-if="$odd" style="background-color:#f1f1f1">
                                <a ng-href="#/EditFAQ/{{f.FaqID}}">{{f.Topic}}</a>
                            </td>
                            <td ng-if="$even">
                                <a ng-href="#/EditFAQ/{{f.FaqID}}">{{f.Topic}}</a>
                            </td>
                            <td ng-if="$odd" style="background-color:#f1f1f1">
                                <a ng-href="#/EditFAQ/{{f.FaqID}}">{{f.Question}}</a>
                            </td>
                            <td ng-if="$even">
                                <a ng-href="#/EditFAQ/{{f.FaqID}}">{{f.Question}}</a>
                            </td>
                            <td ng-if="$odd" style="background-color:#f1f1f1">
                                <a ng-href="#/EditFAQ/{{f.FaqID}}">{{f.Answer}}</a>
                            </td>
                            <td ng-if="$even">
                                <a ng-href="#/EditFAQ/{{f.FaqID}}">{{f.Answer}}</a>
                            </td>

                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>