<div><h4>Hardware Edit</h4></div>

<div class="form-group" ng-controller="HardwareEditController">
    <input class=" form-control" ng-model="hardware.HardwareID" />
    <input class="form-control" ng-model="hardware.HardwareName" />
    <input class="form-control" ng-model="hardware.Category" />
    <input class="form-control" ng-model="hardware.Notes" />
    <!--add list of FAQ's here-->
    <!--add list of Documents here-->

    <button ng-click="EditedHardware()">Save Changes</button>
</div>